.carousel
    height: 100%
    width: 100%
    overflow-y: scroll
    overflow-x: hidden
    scroll-snap-type: y mandatory
    // Needed for the nice smooth slide on devices
    -webkit-overflow-scrolling: touch

.carousel-item-container
    display: block
    position: relative
    width: 100%
    scroll-snap-align: start
    
.carousel-item
    position: absolute
    width: 100%
    height: 100%
    overflow: hidden
    will-change: transform

