.carousel
    position: absolute
    top: 0
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    // height: 500px
    overflow-y: scroll


.carousel-item
    top: 0
    position: absolute
    width: 100%
    will-change: transform
    box-sizing: border-box
    // border: 1px solid black

        
// .divider
//     position: relative
//     z-index: 10
//     width: 100%
//     height: 20px
//     background-color: white
//     box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5)

// .parallax
//     box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5)
    // transform: translateY(100px)