<div class="container">


    <!-- <canvas class="magic2" #blurred2
        [@spin]="{ value: rotate2, params: {begin: '0deg', end: '-90deg', duration: '7s'}}" 
        (@spin.done)="restartRotate2()"></canvas> -->
    <canvas class="blurred" #blurred1 ></canvas>
    <!-- <canvas class="blurred" #blurred2 [style.transform]="getTransform(angle2, scale2)"></canvas> -->

    <!-- <img class="overlay" src="../../assets/texture.jpg"> -->
    <img #theimage class="pic" [src]="image" (load)="blurAll()">
</div>
